@import "_variables";

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: $clr_1;
    padding: 1rem 0;

    h1.logo {
        width: 95%;
        padding: 0;
        margin: 0;

        a {
            display: block;
            width: 100%;
            background-color: $clr_3;
            color: $clr_2;
            text-align: center;
            font-size: $font_sz_logo;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            cursor: pointer;
            
            &:focus{
                color: #2696AD;
            }
        }
    }

    nav {
        ul {

            li{
                padding-top: 5rem;
                text-align: center;
                
                &:last-child{
                    padding-bottom: 4rem;
                }

                a {
                    width: fit-content;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 3rem;
                    color: $clr_3;

                    &:hover,
                    &:focus{
                        color: $clr_2;
                    }

                    &:active{
                        color: #2696AD;
                    }

                }
            }
            
        }
    }

    button.enter{
        padding: 1rem 2rem;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 8px;
        background-color: #22ae60;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 4rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        color: $clr_3;
    }

    @media screen and (min-width: 480px){
        nav{
            ul{
                display: flex;
                align-items: baseline;

                li{
                    &:nth-child(2){
                        padding: 0 2rem;
                    }
                }
            }
        }
    }
}